@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>BioID Web Service</title>
</head>
<body>
    <h1>BioID Web Service</h1>
    <h3>BWS user interface landing page</h3>
    <p>The BWS user interface requires to be opened by a valid BWS client, i.e. a registered BWS application that has an Application-ID and -Secret assigned.</p>
    <p>You can use the @Html.ActionLink("BWS user interface test page", "Test", "BWS") to start the user interface explicitely.</p>
</body>
</html>
