body {
    background-color: white;
    color: #777;
    font-family: "Segoe UI", Helvetica, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
}

#guilogo {
    position:fixed;
    top:10px;
    left:10px;
    max-width:150px;
    height:80px;
}

#guititle {
    position:fixed;
    top:2px;
    left:180px;
}

@media screen and (max-height: 550px) {
    #guilogo { display: none; }
    #guititle { left: 10px; }
    #guimessage {font-size: 1.4em; }
    .guiupload { font-size: 0.7em; }
    .guiimage {
        width: 45px;
        height: 60px;
    }
    .guiuploaded {
        width: 45px;
        height: 60px;  
     }
}

@media screen and (max-width: 400px) and (min-height: 551px) {
    #guilogo { display: none; }
    #guititle { left: 10px; }
    #guimessage {font-size: 1.2em; }
    .guiupload { font-size: 0.6em; }
    .guiimage {   
        width: 60px;
        height: 80px;     
    }
    .guiuploaded {
        width: 60px;
        height: 80px;   
     }
    .leftarrow { left: -64px;}
    .rightarrow { right: -64px;}
}

@media screen and (min-width: 401px) and (max-width:450px) and (min-height: 551px)  {
    #guititle {font-size: 0.9em; }
    #guisubtitle {font-size: 1.0em; }
    #guimessage {font-size: 1.5em; }
    .guiupload { font-size: 0.7em; }
    .guiimage {
        width: 75px;
        height: 100px;
    }
    .guiuploaded {
        width: 75px;
        height: 100px;  
     }
    .leftarrow { left: -64px;}
    .rightarrow { right: -64px;}
}
   
@media screen and (min-width: 451px) and (min-height: 551px) {
    #guimessage { font-size: 2.0em; }
    .guiupload { font-size: 1.2em; }
    .guiimage {
        width: 90px;
        height: 120px;
    }
    .guiuploaded {
        width: 90px;
        height: 120px;
    }
    .leftarrow { left: -64px;}
    .rightarrow { right: -64px;}
}

@media screen and (min-width: 720px) and (min-height: 551px) {
    .leftarrow { left: 20px; }
    .rightarrow { right: 20px; }
}

.guititle {
    color: rgba(44, 100, 162, 1.0);
    font-size: 1.75em;
}

.guisubtitle {
    color: rgba(44, 100, 162, 0.8);
    font-size: 1.2em;
}

#guibuttons {
    position:fixed;
    top:90px;
    left:10px;
    max-width:150px;
    height:50px;
}

#guifeature {
    position:fixed;
    bottom:5px;
    left:10px;
    font-size: 0.8em;
    font-style: italic;
    color:#999;
}

#guistatus {
    position:fixed;
    bottom:0;
    right:0;
    color:#000;
    text-align:right;
}

#guiprompt {
    position:absolute;
    top:150px;
    left:15px;
    width:90%;
    font-size: 1.0em;
}

#guiapp {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-2;
}

#guimessage {
    color: #2c64a2;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0 #eee;
    z-index: 1;
}

#guicanvas, #guisilverlight {
    color: rgba(44, 100, 162, 0.2);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    z-index:-1;
}

#guimotionbar {
    position:absolute;
    left:1%;
    bottom:4%;
    width:2%;
    height:60%;
    z-index:2;
}

#guiarrows {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5;
}

.toparrow {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-left: -64px;
}

.bottomarrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-left: -64px;
}

.leftarrow {
    position: fixed;
    top: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
}

.rightarrow {
    position: fixed;
    top: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
}

.guiimage {
    border: 1px solid rgba(44, 100, 162, 0.5);
    float: right;
    margin: 4px;
    margin-bottom:25px;
    opacity: 0.4;
}

.guiwait {
    width:100%;
    height:100%;
    background:url(../images/wait.gif) no-repeat center center;
    text-align:center;
}

.guiupload {
    width:100%;
    height:100%;
    background:url(../images/upload.gif) no-repeat center center;
    text-align:center;
}

.guiuploaded {
    text-align:center;
}

.guierror {
    color: #FF5050;
}

#guibuttons ul.guinav {float: left; margin: 0; padding: 0;}
#guibuttons ul.guinav li {display: inline; float: left; padding: 0; background: none; }
#guibuttons ul.guinav li a, #guibuttons ul.guinav li button {
    display: block; padding: 0; background: url(../images/guibuttons.png) top left no-repeat; height: 48px; width: 48px;
}
#guibuttons ul.guinav li.guicancel a {background-position: 0 0;}
#guibuttons ul.guinav li.guicancel a:hover {background-position: 0 -48px;}
#guibuttons ul.guinav li.guicancel a:active {background-position: 0 -96px;}
#guibuttons ul.guinav li.guimirror button {background-position: -144px 0;}
#guibuttons ul.guinav li.guimirror button:hover {background-position: -144px -48px;}
#guibuttons ul.guinav li.guimirror button:active {background-position: -144px -96px;}
#guibuttons ul.guinav li.guistart button {background-position: -48px 0;}
#guibuttons ul.guinav li.guistart button:hover {background-position: -48px -48px;}
#guibuttons ul.guinav li.guistart button:active {background-position: -48px -96px;}
#guistartapp a {
    float: right; margin: 4px; display: block; padding: 0; background: url(../images/guibuttons.png) top left no-repeat; height: 48px; width: 48px;
}
#guistartapp a {background-position: -192px 0;}
#guistartapp a:hover {background-position: -192px -48px;}
#guistartapp a:active {background-position: -192px -96px;}

/* missuse the button to look like a link (used for JavaScript activation) */
button {
    background-color:transparent;
    cursor: pointer;
    border:0;
    padding:0;
    color:#000;
}
button:hover {
    color: #2c64a2;
}

/* for the continue button */
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 9px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.head { 
  position: fixed; 
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -82px;
  width: 165px;
  height: 256px;
  opacity: 0.4;
  transform: scale(1);
  -ms-transform: scale(1);  
  -webkit-transform: scale(1); 
  -moz-transform: scale(1);
   background-image: url("../images/heads.svg");
}

@-webkit-keyframes move-left {
   from { background-position: -2475px -3840px; }
     to { background-position: 0 -3840px;}
}

@keyframes move-left {
   from { background-position: -2475px -3840px; }
     to { background-position: 0 -3840px;}
}

@-webkit-keyframes move-left-reverse {
   from { background-position: 0 -3840px;}
     to { background-position: -2475px -3840px; }
}

@keyframes move-left-reverse {
   from { background-position: 0 -3840px;}
     to { background-position: -2475px -3840px; }
}

@-webkit-keyframes move-right {
   from { background-position: -2475px -3840px; }
     to { background-position: -4950px -3840px;}
}

@keyframes move-right {
   from { background-position: -2475px -3840px; }
     to { background-position: -4950px -3840px;}
}

@-webkit-keyframes move-right-reverse {
   from { background-position: -4950px -3840px;}
     to { background-position: -2475px -3840px; }
}

@keyframes move-right-reverse {
   from { background-position: -4950px -3840px;}
     to { background-position: -2475px -3840px; }
}

@-webkit-keyframes move-up {
   from { background-position: -2475px -3840px; }
     to { background-position: -2475px  0;}
}

@keyframes move-up {
   from { background-position: -2475px -3840px; }
     to { background-position: -2475px  0;}
}

@-webkit-keyframes move-up-reverse {
   from { background-position: -2475px  0;}
     to { background-position: -2475px -3840px; }
}

@keyframes move-up-reverse {
   from { background-position: -2475px  0;}
     to { background-position: -2475px -3840px; }
}

@-webkit-keyframes move-down {
   from { background-position: -2475px -3840px; }
     to { background-position: -2475px -7680px;}
}

@keyframes move-down {
   from { background-position: -2475px -3840px; }
     to { background-position: -2475px -7680px;}
}

@-webkit-keyframes move-down-reverse {
   from { background-position: -2475px -7680px;}
     to { background-position: -2475px -3840px; }
}

@keyframes move-down-reverse {
   from { background-position: -2475px -7680px;}
     to { background-position: -2475px -3840px; }
}

@-webkit-keyframes move-vertical {
   0%   { background-position: -2475px -1792px; }
   50%  { background-position: -2475px -5888px; }
   100% { background-position: -2475px -1792px; }
}

@keyframes move-vertical {
   0%   { background-position: -2475px -1792px; }
   50%  { background-position: -2475px -5888px; }
   100% { background-position: -2475px -1792px; }
}

@-webkit-keyframes move-horizontal {
   0%   { background-position: -1155px -3840px; }
   50%  { background-position: -3795px -3840px; }
   100% { background-position: -1155px -3840px; }
}

@keyframes move-horizontal {
   0%   { background-position: -1155px -3840px; }
   50%  { background-position: -3795px -3840px; }
   100% { background-position: -1155px -3840px; }
}

.movevertical { -webkit-animation: move-vertical 2s steps(16) infinite; animation: move-vertical 2s steps(16) infinite; }
.movehorizontal { -webkit-animation: move-horizontal 2s steps(16) infinite; animation: move-horizontal 2s steps(16) infinite; }
.moveleft { -webkit-animation: move-left 1s steps(15) forwards; animation: move-left 1s steps(15) forwards; }
.moveleftreverse { -webkit-animation: move-left-reverse 1s steps(15) forwards; animation: move-left-reverse 1s steps(15) forwards; }
.moveright {  -webkit-animation: move-right 1s steps(15) forwards;  animation: move-right 1s steps(15) forwards; }
.moverightreverse {  -webkit-animation: move-right-reverse 1s steps(15) forwards;  animation: move-right-reverse 1s steps(15) forwards; }
.moveup { -webkit-animation: move-up 1s steps(15) forwards; animation: move-up 1s steps(15) forwards; }
.moveupreverse { -webkit-animation: move-up-reverse 1s steps(15) forwards; animation: move-up-reverse 1s steps(15) forwards; }
.movedown { -webkit-animation: move-down 1s steps(15) forwards; animation: move-down 1s steps(15) forwards; }
.movedownreverse { -webkit-animation: move-down-reverse 1s steps(15) forwards; animation: move-down-reverse 1s steps(15) forwards; }